.Logo{
    width: 150px;
  
    }
    
    .header1{
    background-color: #FF82FA;
    }
    
    .contenedor{
      background-color: antiquewhite;
    }
    
    .BotonesH{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 0px;
      margin: 0%;
  
  
    }
    .separacion {
      margin-right: 150px; 
    }
  
    .mini-icon{
      color: #ff002b;
    }
    .custom-searchbar {
      
      justify-content: center;
      display: flex;
      align-items: center;
      width: 500px;
      margin: 0 auto;
      background-color: #ffffff;
      border-radius: 20px;
      padding: 5px;
      box-shadow: 0px 0px 5px #ff00ff;
     
  
    }
    
    .search-input {
      flex-grow: 1;
      border: none;
      border-radius: 20px;
      padding: 10px;
      font-size: 16px;
      color: #999999;
    }
    
    .search-icon {
      background-color: #ff00ff;
      
      border: none;
      border-radius: 20px;
      padding: 10px;
      margin-left: 5px;
      cursor: pointer;
    }
    
    .search-icon ion-icon {
      color:#ffffff;
}