<ion-content>

<ion-header class="header1">
  
  <ion-toolbar class="header1" color="pink">
    
  </ion-toolbar>
  
  <ion-toolbar>
    <ion-img class="Logo" src="https://mateogutierrez.neocities.org/Logo-removebg-preview.png" alt="Logo"></ion-img>

    <ion-buttons slot="end">
      <div class="custom-searchbar">
        <input type="text" placeholder="Hola, ¿Que estas buscando?" class="search-input">
        <button class="search-icon">
          <ion-icon name="search"></ion-icon>
        </button>
      </div>
      
      <ion-button routerLink="/perfil">  
        <ion-icon name="person"></ion-icon>
      </ion-button>
      
      <ion-button routerLink="/carrito">
        <ion-icon name="cart"></ion-icon>
      </ion-button>  

    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <div class="BotonesH">
      <h2 class="separacion" style="cursor: pointer;" >Inicio</h2>
      <h2 class="separacion" style="cursor: pointer;">
        <ion-select [(ngModel)]="categoriaSeleccionada">
          <ion-select-option value="categorias">Categorias</ion-select-option>
          <ion-select-option value="gomitas">Gomitas</ion-select-option>
          <ion-select-option value="chocolates">Chocolates</ion-select-option>
          <ion-select-option value="paletas">Paletas</ion-select-option>
        </ion-select>
      </h2>
      <h2 class="separacion" style="cursor: pointer;">Ofertas</h2>
    </div>
    <ion-fab  vertical="bottom" class="editar-fab">
      <ion-fab-button  class="editar-fab" name="create" (click)="abrirModal()">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
      </ion-fab>
  </ion-toolbar>
  
</ion-header>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button name="add" (click)="openModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="3" size-lg="2" *ngFor="let producto of productos$ | async">
        <ion-card class="small-card">
          <img [src]="producto.imagen" alt="Imagen del producto" (error)="imagenNoDisponible($event)">
          <ion-card-content>
            <ion-card-title>{{ producto.nombre }}</ion-card-title>
            <ion-card-subtitle>{{ producto.precio | currency }}</ion-card-subtitle>
          </ion-card-content>
          <ion-row class="ion-align-items-center">
            <ion-col size="6">
              <ion-button class="Carrito" (click)="agregarAlCarrito(producto)" expand="full">
                Agregar al carrito
                <span id="contador-{{ producto.id }}" class="contador">{{ producto.cantidad }}</span>
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button class="Detalle" (click)="mostrarDetalle(producto)" expand="full">
                Ver detalle
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



