/* Estilos para la cabecera */
.header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    position:relative;
}
  
  .toolbar {
    padding: 0 16px;
  }
  
  .logo {
    height: 200px;
    width: 200px;
  z-index: 1; /* Asegura que el logo esté por debajo del menú */

  }
  
  .searchbar-toolbar {
    padding: 8px 16px; 
   
  }
  
  .searchbar {
    --border-radius: 24px;
    width: 800px;
    margin-left: 300px;
    margin-top: 120px; /* Modificado: Incrementa el margen superior */
    position: absolute;
  }
  
  /* Estilos para el contenido principal */
  #main-content {
    height: 100%;
    
  }
  
  .ion-padding {
    padding: 16px;
  }
  
  .categories-button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    font-weight: bold;
  }
  
  .categories-icon {
    margin-left: 8px;
    font-size: 18px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    margin: 16
  }
  
  .menu {
    --ion-background-color: #fff;
    --ion-width: 250px;
    position: absolute;
    z-index: 2; /* Agregado: Asegura que el menú esté por encima de otros elementos */
  }
  
  
  .categories-title {
    font-size: 20px; /* Tamaño de fuente del título de categorías */
  }
  
  .category-item {
    font-size: 16px; /* Tamaño de fuente de los elementos de categoría */
    padding: 10px 20px; /* Espaciado interno de los elementos de categoría */
  }
  
  